.App {
    height: 100%;
    text-align: center;
    font-size:14px;
    overflow: hidden;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #282c34;
    color: white;
}

.App-logo {
    height: 40vmin;
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
